body, html{
    background-color: bisque;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    font-weight: 500px;
}
.socialicon{
    width:3em;
    height:3em;
    margin:0.5em;
}
.socialicon:hover{
    opacity:0.8;
}